

$blanco: #e6e6e6;
$negro: #1a1a1a;
$rosa: #d99cc5;
$rojo: #d95d41;
$verde: #1f8c64;
$amarillo: #f2bf26;




* {

	font-size: 62.5%;
	box-sizing: border-box;
	margin: 0;
	padding: 0; 

		
	body {

		background-color: $blanco;
		color: $negro;
 		font-weight: 400;
 		font-size: 5rem;

 		font-family: 'IBM Plex Serif', serif;

 			header {
				
 					.container {

 						nav {

 							background-color: #e6e6e6; 
							margin-bottom: 1rem;
							margin-top: 1rem;
							margin-right: 1.5rem;



							ul {

								border: solid;

								li{
									list-style: none;
									background-color:#e6e6e6;
									font-size: 3rem;
									a{
									color: #1a1a1a;
									text-decoration: none;
									}
									a:hover {

										color: #1a1a1a !important;
										background-color: #d99cc5;
									}

								}
							}
						}
 					}

 			}
 			
 	

 	}		
}		

 
